
<div class="bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="widget widget-about">
                    <div class="widget-inner">
                        <h3 class="widget-title">A Propos de Sama</h3>
                        <p>Chez Sama, nous sommes passionnés par la cuisine et nous sommes ravis de partager avec vous nos délicieuses
                        recettes et nos astuces culinaires. Notre objectif est de vous inspirer en vous proposant une variété de recettes
                        savoureuses et faciles à réaliser.</p>
                    </div><!-- end widget-inner -->
                </div><!-- end widget -->
            </div><!-- end col -->
            <div class="col-md-6">
                <div class="widget widget-subscribe">
                    <div class="widget-inner">
                        <h3 class="widget-title">Rester à jour</h3>
                        <span>Enregistrez votre adresse e-mail pour recevoir des promotions, des mises à jour sur les produits et d'autres
                        informations.</span>
                        <div class="subscribe-form">
                            <input type="email" name="EMAIL" placeholder="Your email address" required="">
                            <input type="submit" value="Subscribe">
                        </div><!-- end subscribe-form -->
                    </div><!-- end widget-inner -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div><!-- end row -->
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="copy">
                    <p>&copy; 2023 Sama Web Projet. Made with <i class="fas fa-heart"></i> by MMK|JEA|AD|SAM</p>
                </div><!-- end copy -->
            </div><!-- end col -->
            <div class="col-md-6">
                <ul class="bottom-nav">
                    <li><a href="#"></a></li>
                </ul>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end bottom -->