.Frigo {
    position: absolute;
    height: 67%;
    width: 100%; 
    background-image: url('/assets/images/content/frigo-add.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(55, 25, 56);
    font-family: 'Yaldevi Colombo SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .Add{
    position: relative; 
    width: 300px;
    height: 60px; 
    margin: auto; 
    top: 10%;
    border-radius: 20px;
    background-color: aliceblue;
  }

  .route-add{
    border-radius: 20px; 
    position: relative; 
    height: 100%; 
    width: 100%;  
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 24px;
  }

  .Del{
    position: relative; 
    width: 350px;
    height: 60px; 
    margin: auto; 
    top: 15%; 
    border-radius: 20px; 
    background-color: aliceblue;
  }

  .route-del{
    border-radius: 20px; 
    position: relative; 
    height: 100%; 
    width: 100%;  
    font-family: 'Inter'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 24px;
  }

  .foot{
    position: absolute;
    top: 75%; 
    width: 100%;
  }