<div id="page" class="hfeed site">
    <div style="position: relative">
        <app-header></app-header>
    </div>
    <div class="add-ingr"> 
        Ajout ingrédients
        <div class="name-ingr">
            <input type="text" placeholder="Nom Ingrédient" name="Name-ingr" (input)="handleInputChange($event)" class="ingredient-input">
        </div>
        <div class="quantity-bar">
            <button (click)="Decrease()">-</button>
            <input type="text" class="quantity-input" [value]="total">
            <button (click)="Increase()">+</button>
        </div>
        <div class="add">
            <input type="submit" name="Ajouter" value="Ajouter" class="Add-button">
        </div>
    </div>
    <div class="foot">
        <app-footer></app-footer>
    </div>
</div>
