<div id="page" class="hfeed site"><!-- start page wrapper -->
  <app-header></app-header>

  <div class="container searchbardiv" id="formsearch">
    <form role="search" method="get" id="searchform">
      <div class="input-group">
        <input type="text" id="searchbox" class="form-control" name="s">
        <div class="input-group-btn">
          <button class="btn btn-search" id="searchsubmit" type="submit">
            <strong>Search</strong>
          </button>
        </div>
      </div>
    </form>
  </div><!-- end searchbardiv -->





  
  
  
  <!-- SLIDER SECTION -->
  <div class="owl-carousel owl-theme">
    <div class="item">
      <img src="../../../assets/images/content/slide-13.jpg" alt="slide 1">
      <div class="caption">
        <h2 class="animated bounce">Nos 10 recettes les plus populaires</h2>
        <button class="btn btn-primary">EXPLOREZ MAINTENANT</button>
      </div>
    </div><!-- end item -->
    <div class="item">
      <img src="../../../assets/images/content/slide-14.jpg" alt="slide 2">
      <div class="caption">
        <h2 class="animated bounce">Une Explosion De Saveurs Et De Traditions Culinaires</h2>
        <button class="btn btn-primary">DECOUVREZ</button>
      </div>
    </div><!-- end item -->
    <div class="item">
      <img src="../../../assets/images/content/slide-15.jpg" alt="slide 3">
      <div class="caption">
        <h2 class="animated bounce">La Délicieuse Diversité Des Plats Sénégalais</h2>
        <button class="btn btn-primary">EXPLOREZ MAINTENANT</button>
      </div>
    </div><!-- end item -->
  </div><!-- end owl-carousel -->

  <div class="choice-section">
    <div class="container">
      <div class="section-title">
        <h3>Editor's Choice</h3>
      </div><!-- end section-title -->
      <div class="row">
        <div class="col-6 col-md-3">
          <div class="big-bone">
            <a href="#" class="figure-caption">
              <div class="caption-inner">
                <p>FOOD</p>
                <span>20 Recipes</span>
              </div>
            </a>
            <figure><img src="../../../assets/images/content/food-l.png" alt="food l"></figure>
          </div>
          <div class="small-bone">
            <figure><img src="../../../assets/images/content/food-s.png" alt="food s"></figure>
            <figure><img src="../../../assets/images/content/food-s2.png" alt="food s"></figure>
          </div>
        </div><!-- end col -->
        <div class="col-6 col-md-3">
          <div class="big-bone">
            <a href="#" class="figure-caption">
              <div class="caption-inner">
                <p>BEVERAGE</p>
                <span>16 Recipes</span>
              </div>
            </a>
            <figure><img src="../../../assets/images/content/beverage-l.png" alt="beverage l"></figure>
          </div>
          <div class="small-bone">
            <figure><img src="../../../assets/images/content/beverage-s.png" alt="beverage s"></figure>
            <figure><img src="../../../assets/images/content/beverage-s2.png" alt="beverage s"></figure>
          </div>
        </div><!-- end col -->
        <div class="col-6 col-md-3">
          <div class="big-bone">
            <a href="#" class="figure-caption">
              <div class="caption-inner">
                <p>DESSERT</p>
                <span>18 Recipes</span>
              </div>
            </a>
            <figure><img src="../../../assets/images/content/dessert-l.png" alt="dessert l"></figure>
          </div>
          <div class="small-bone">
            <figure><img src="../../../assets/images/content/dessert-s.png" alt="dessert s"></figure>
            <figure><img src="../../../assets/images/content/dessert-s2.png" alt="dessert s"></figure>
          </div>
        </div><!-- end col -->
        <div class="col-6 col-md-3">
          <div class="big-bone">
            <a href="#" class="figure-caption">
              <div class="caption-inner">
                <p>PUDDING</p>
                <span>28 Recipes</span>
              </div>
            </a>
            <figure><img src="../../../assets/images/content/pudding-l.png" alt="pudding l"></figure>
          </div>
          <div class="small-bone">
            <figure><img src="../../../assets/images/content/pudding-s.png" alt="pudding s"></figure>
            <figure><img src="../../../assets/images/content/pudding-ss.png" alt="pudding s"></figure>
          </div>
        </div><!-- end col -->
      </div><!-- end row -->
  
    </div><!-- end container -->
  </div><!-- end editor-section -->

  <app-footer></app-footer>
</div><!-- end #page hfeed site -->