<div id="page" class="hfeed site"><!-- start page wrapper -->
  <app-header></app-header>

  <div class="container searchbardiv" id="formsearch">
    <form role="search" method="get" id="searchform">
      <div class="input-group">
        <input type="text" id="searchbox" class="form-control" name="s">
        <div class="input-group-btn">
          <button class="btn btn-search" id="searchsubmit" type="submit">
            <strong>Search</strong>
          </button>
        </div>
      </div>
    </form>
  </div><!-- end searchbardiv -->





  
  
  
  <!-- SLIDER SECTION -->
  <div class="owl-carousel owl-theme">
    <div class="item">
      <img src="../../../assets/images/content/slide-13.jpg" alt="slide 1">
      <div class="caption">
        <h2 class="animated bounce">Nos 10 recettes les plus populaires</h2>
        <button class="btn btn-primary">EXPLOREZ MAINTENANT</button>
      </div>
    </div><!-- end item -->
    <div class="item">
      <img src="../../../assets/images/content/slide-14.jpg" alt="slide 2">
      <div class="caption">
        <h2 class="animated bounce">Une Explosion De Saveurs Et De Traditions Culinaires</h2>
        <button class="btn btn-primary">DECOUVREZ</button>
      </div>
    </div><!-- end item -->
    <div class="item">
      <img src="../../../assets/images/content/slide-15.jpg" alt="slide 3">
      <div class="caption">
        <h2 class="animated bounce">La Délicieuse Diversité Des Plats Sénégalais</h2>
        <button class="btn btn-primary">EXPLOREZ MAINTENANT</button>
      </div>
    </div><!-- end item -->
  </div><!-- end owl-carousel -->

  <div class="container">
    <div class="row">
      <h2>PAge d'acceuil</h2>
      <h2></h2>
      <h2></h2>
      <h2></h2>
      <h2></h2>
      <h2></h2>
      <h2></h2>
      <h2></h2>

    </div>
  </div>

  <app-footer></app-footer>
</div><!-- end #page hfeed site -->