.menu-planner{
  position: absolute; 
  width: 100%; 
  height: 67%; 
  align-items: center;
  justify-content: center;
  background-image: url('/assets/images/content/menumenu.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-family: 'Yaldevi Colombo SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  align-items: center;
  text-align: center;
}

.DateDebut{
  position: relative;
  top: 10%;
  color: rgb(255, 255, 255);
}

input{
  width: 250px;
  height: 50px;
  border-radius: 20px;
  background-color:beige;
}

.DateFin{
  position: relative;
  top: 15%;
}

button{
  position: relative;
  top: 20%;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  background-color:beige;
}

.Generer{
  position: relative;
  top: 25%;
}

.foot{
  position: absolute;
  top: 75%; 
  width: 100%;
}