<div id="page" class="hfeed site"><!-- start page wrapper -->
  <app-header></app-header>

  <div class="container searchbardiv" >
    <form >
      <div class="input-group">
        <input type="text"  class="form-control" placeholder="Ingredients" name="query" id= "query" (input)="handleQueryChange($event)" >
        <div class="input-group-btn">
          <button class="btn btn-search"  type="submit" (click)="onGetRecettes()">
            <strong>Search</strong>
          </button>
        </div>
      </div>
    </form>
  </div><!-- end searchbardiv -->
  
  <div class="head-title">
    <div class="container">
      <h2 class="page-title">Les recettes</h2>
    </div><!-- end container -->
  </div><!-- end head-title -->
  
  <div id="main">
    <div class="container">
  
      <div id="primary" class="content-area fullwidth">
        <div id="content" class="site-content">


          <div class="row">
            <div class="col-6 col-md-3" *ngFor="let recette of results; let i=index">
              <div class="recipe-thumb">
                <img [src]="recette.featured_image" alt="Recipe Image">
                <a href="" class="bookmarker"><i class="fas fa-bookmark"></i></a>
                <a [routerLink]="['/recettes/single-recette', i]" class="view-recipe">Voir plus</a>
              </div>
              <div class="recipe-desc">
                <h2 class="recipe-title">
                  <a [routerLink]="['/recettes/single-recette', i]">{{ recette.title }}</a>
                </h2>
                <p><em>By {{ recette.publisher }}</em></p>
                <span><i class="fas fa-clock"></i>&nbsp;{{ recette.long_date_added }}</span>
              </div><!-- end recipe-desc -->
            </div><!-- end col -->
          </div><!-- end row -->


  
        </div><!-- end content -->
      </div><!-- end primary -->
  
    </div><!-- end container -->
  </div><!-- end main -->

  <app-footer></app-footer>
</div><!-- end #page hfeed site -->