.del-ingr {
    position: absolute; 
    width: 100%; 
    height: 67%; 
    background-image: url('/assets/images/content/Del-ingr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: 'Yaldevi Colombo SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .name-ingr{
    position: relative;
    width: 310px; 
    height: 61px;
    margin: auto;
    top: 10%;  
    border-radius: 20px;
  }

  .ingredient-input{
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    border-radius: 20px;
  }

  .del{
    position: relative;
    margin: auto;
    top: 15%;
  }

  .Del-button{
    width: 175px; 
    height: 61px; 
    border-radius: 20px;
  }

  .foot{
    position: absolute;
    top: 75%; 
    width: 100%;
  }