<div id="page" class="hfeed site">
    <div style="position: relative">
        <app-header></app-header>
    </div>
    <div class="del-ingr"> 
        Supprimer ingrédients
        <div class="name-ingr">
            <input type="text" placeholder="Nom Ingrédient" name="Name-ingr" (input)="handleInputChange($event)" class="ingredient-input">
        </div>
        <div class="del">
            <input type="submit" name="Supprimer" value="Supprimer" class="Del-button">
        </div>
    </div>
    <div class="foot">
        <app-footer></app-footer>
    </div>
</div>
