<div id="page" class="hfeed site"><!-- start page wrapper -->
  <div style="position: relative;">
    <app-header></app-header>
  </div>
  <div class="log-in">
    <p *ngIf="wrongCredentials"> Veuillez réessayer!</p>
    <h1>Authentification</h1>
    <div class="pseudo"> 
      <input type="text" placeholder="Pseudo" name="pseudo" (input)="handlePseudoChange($event)" class="pseudo-input">
    </div>
    <div class="password"> 
      <input type="password" placeholder="Password" name="password" (input)="handlePasswordChange($event)" class="password-input"> 
    </div>
    <div class="log-button"> 
      <input type="submit" name="Connecter" value="Authentifier" class="button" (click)="login()" >
    </div>
  </div>
  <div class="foot">
    <app-footer></app-footer>
  </div>
</div><!-- end #page hfeed site -->