.log-in{
  position: absolute;
  height: 67%;
  width: 100%; 
  background-image: url('/assets/images/content/menu1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  font-family: 'Yaldevi Colombo SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pseudo{
  position: relative;
  width: 310px; 
  height: 61px;
  margin: auto;
  top: 14%;  
  border-radius: 20px;
}

.pseudo-input {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border-radius: 20px;
}

.password{
  position: relative;
  width: 310px; 
  height: 61px;
  margin: auto;
  top: 16%;  
  border-radius: 20px;
}

.password-input {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border-radius: 20px;
}

.log-button{
  position: relative;
  margin: auto;
  top: 20%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.button{
  width: 150px; 
  height: 60px;
  border-radius: 20px;
}

.foot{
  position: absolute;
  top: 75%; 
  width: 100%;
}